<template>
    <div>
        <v-row>
            <v-text-field v-model="newFile.date" variant="solo" type="date">Date :</v-text-field>
            <v-row>
                <video ref="video" :width="width" :height="height" autoplay></video>
                <v-btn @click="takeSnapshot">Prendre une photo</v-btn>
                <canvas ref="canvas"></canvas>
                <v-btn v-if="blob !== '' && newFile.date !== ''" color="primary" variant="flat" @click="addFile()">Ajouter</v-btn>
            </v-row>
        </v-row>
    </div>
</template>
  
<script>
import adapter from 'webrtc-adapter';
import { mapState } from 'vuex';
export default {
    props: ['announce'],
    created(){
        const requestOptions = {
            method: 'GET',
            mode: 'cors',
            redirect: 'follow',
        }
    },
    data() {
        return {
            height: 240, //480
            width: 320, //640
            blob: '',
            newFile: {
                date: '',
            },
        }
    },
    mounted() {
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
        .then((stream) => {
            const video = this.$refs.video;
            video.srcObject = stream;
            video.play();
        })
        .catch((error) => {
            console.log('Impossible de démarrer la caméra', error);
        });
    },
    methods: {
        takeSnapshot() {
            const video = this.$refs.video;
            const canvas = this.$refs.canvas;
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.toBlob((blob) => {
                console.log('Photo prise', blob);
                this.blob = blob
                
            }, 'image/png', 0.95);
        },
        addFile(){
            const formData = new FormData();
            formData.append('image', this.blob, 'snapshot.jpg');
            formData.append('date', this.newFile.date); 
            formData.append('idAnnouncement', this.announce.announcementId); 
            formData.append('idplant', this.announce.plantId);
            const requestOptions = {
                method: 'POST',
                body: formData,
                mode: 'cors',
                redirect: 'follow'
            };
            fetch("http://localhost:3002/api/files/create", requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    this.$store.dispatch('fetchPlantImages', {idplant: this.announce.plantId, announcementId: this.announce.announcementId }) // refresh des photos
                    this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                })
                .catch((error) => {
                    console.log('Erreur lors de l\'envoi de la requête', error);
                    this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                });
        }
    },
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
        }),
    },
};
</script>