<template>
    <div>
        <v-card width="80vw" style="overflow-y: scroll;">
            <v-toolbar dark color="primary">
                <v-toolbar-title>Ajouter une plante </v-toolbar-title>
                <v-spacer/>
            </v-toolbar>
            <v-card-text>
                <v-select v-model="newPlant.idplanttype" :items="typesPlant" variant="solo" item-title="libelle" item-value="id"></v-select>
                <v-text-field v-model="newPlant.libelle" variant="solo">Libelle :</v-text-field>
                <v-text-field v-model="newPlant.description" variant="solo">Description :</v-text-field>
                <v-text-field v-model="newPlant.place" variant="solo">Place (Approximative, ex: "Paris, 16ème.") :</v-text-field>
                <v-row>
                    <video ref="video" :width="width" :height="height" autoplay></video>
                    <v-btn @click="takeSnapshot">Prendre une photo</v-btn>
                    <canvas ref="canvas"></canvas>
                    <v-btn v-if="blob !== '' && newPlant.place !== '' && newPlant.description !== '' && newPlant.libelle !== ''" color="primary" variant="flat" @click="addPlant()">Ajouter</v-btn>
                </v-row>
            </v-card-text>
        </v-card>
    </div>
</template>
  
<script>
import adapter from 'webrtc-adapter';
import { mapState } from 'vuex';
export default {
    created(){
        const requestOptions = {
            method: 'GET',
            mode: 'cors',
            redirect: 'follow',
        }
        fetch(`http://localhost:3002/api/plants/type`, requestOptions)
            .then((response) => response.json())
            .then((result, err) => {
                if (result.error) {
                    console.error(err);
                }
                this.typesPlant = result
            });
    },
    data() {
        return {
            typesPlant: [],
            height: 240, //480
            width: 320, //640
            blob: '',
            newPlant: {
                idplanttype: 1,
                libelle: '',
                description: '',
                place: '',
            },
        }
    },
    mounted() {
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
        .then((stream) => {
            const video = this.$refs.video;
            video.srcObject = stream;
            video.play();
        })
        .catch((error) => {
            console.log('Impossible de démarrer la caméra', error);
        });
    },
    methods: {
        takeSnapshot() {
            const video = this.$refs.video;
            const canvas = this.$refs.canvas;
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.toBlob((blob) => {
                console.log('Photo prise', blob);
                this.blob = blob
                
            }, 'image/png', 0.95);
        },
        addPlant(){
            // Créer un objet FormData et y ajouter les données à envoyer
            const formData = new FormData();


            formData.append('profilPicture', this.blob, 'snapshot.jpg');
            formData.append('idplanttype', this.newPlant.idplanttype); // Remplacer par la valeur correspondante
            formData.append('idOwner', this.connectedUser.id); // Remplacer par la valeur correspondante
            formData.append('libelle', this.newPlant.libelle); // Remplacer par la valeur correspondante
            formData.append('description', this.newPlant.description); // Remplacer par la valeur correspondante
            formData.append('place', this.newPlant.place); // Remplacer par la valeur correspondante

            const requestOptions = {
                method: 'POST',
                body: formData,
                mode: 'cors',
                redirect: 'follow'
            };
            fetch("http://localhost:3002/api/plants/create", requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    this.$store.dispatch('fetchUserPlants', this.$route.params.idUser)
                    this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                })
                .catch((error) => {
                    this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                    console.log('Erreur lors de l\'envoi de la requête', error);
                });
        }
    },
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
        }),
    },
};
</script>