<template>
    <div class="container">
        <v-row :class="windowWidth > 600 ? 'ml-8':''">
            <v-col cols="12">
                <v-card elevation="5" class="ma-8" max-height="93vh" style="overflow-y: scroll;">
                    <v-row>
                        <v-img class="align-end text-black" height="110" src="https://images.unsplash.com/photo-1528907298109-e64971adc8e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" cover>
                            <v-card-title class="ml-8 mt-8 mb-3 text-h4">Toutes les Annonces</v-card-title>
                        </v-img>
                    </v-row>
                    <v-row>
                        <v-card v-for="announce in allAnnounces" class="my-8 mx-12" width="400" elevation="5" @click="openDialog(announce.announcementId)">
                            {{ announce.announcementid }}
                            <v-img class="align-end text-black" height="200" :src="`${announce.plantprofilpicture}`" cover>
                                <v-card-title><span>{{ announce.announcementtitle }}</span></v-card-title>
                            </v-img>
                            <v-card-subtitle class="mt-2">{{ announce.announcementdescription }}</v-card-subtitle>
                            <v-card-text>
                                <p>A {{ announce.plantplace }}</p>
                                <p>Du {{ announce.announcementstartdate }}</p>
                                <p>au {{ announce.announcementenddate }}</p>
                                <p>Par {{ announce.userownerfirstname }} {{ announce.userownerlastname }}</p>
                            </v-card-text>
                            <v-dialog v-model="dialog" transition="dialog-bottom-transition" width="auto">
                                <v-card width="80vw">
                                    <v-toolbar dark color="primary">
                                        <v-toolbar-title class="d-none d-sm-flex">Détail de l'annonce</v-toolbar-title>
                                        <v-spacer/>
                                        <v-btn color="secondary" elevation="2" width="15vw" variant="flat" class="mr-8 d-none d-sm-flex" @click="keepThePlant(dialogAnnounce.announcementId)" :disabled="connectedUser === undefined || connectedUser.isBotanist">Garder cette plante</v-btn>
                                        <v-btn color="secondary" elevation="2" width="15vw" variant="flat" class="mr-8 d-flex d-sm-none" @click="keepThePlant(dialogAnnounce.announcementId)" :disabled="connectedUser === undefined || connectedUser.isBotanist">Garder</v-btn>
                                        <v-btn color="white" elevation="2" width="6vw" variant="flat" class="mr-8" @click="dialog = false">Fermer</v-btn>
                                    </v-toolbar>
                                    <div class="wrapper">
                                        <v-card-title class="mb-4"> {{ dialogAnnounce.announcementtitle }} </v-card-title>
                                        <v-card-text>
                                            <v-row>
                                                <v-col class="d-flex d-sm-none"> <!-- mobile -->
                                                    <v-img class="mx-auto img" width="30vw" :src="`${dialogAnnounce.plantprofilpicture}`"></v-img>
                                                </v-col>
                                                <v-col cols="12" sm="6" xs="12">
                                                    <h4 class="my-4">Annonce</h4>
                                                    <v-text-field variant="solo" readonly>{{ dialogAnnounce.announcementdescription }}</v-text-field>
                                                    <v-text-field variant="solo" readonly>Date de début : {{ dialogAnnounce.announcementstartdate }}</v-text-field>
                                                    <v-text-field variant="solo" readonly>Date de fin : {{ dialogAnnounce.announcementenddate }}</v-text-field>
                                                    <v-text-field variant="solo" readonly>Adresse : {{ dialogAnnounce.plantplace }}</v-text-field >
                                                        
                                                    <h4 class="my-4">A propos de la plante</h4>
                                                    <v-text-field variant="solo" readonly>{{ dialogAnnounce.plantlibelle }}</v-text-field>
                                                    <v-text-field variant="solo" readonly>{{ dialogAnnounce.plantdescription }}</v-text-field>
                                                    
                                                    <div v-if="connectedUser !== undefined">
                                                        <h4 class="my-4">Relationnel</h4>
                                                        <router-link class="a" :to="`/profil/${dialogAnnounce.userownerid}`">
                                                            <v-btn variant="outlined" color="secondary">Postée par : {{ dialogAnnounce.userownerfirstname }} {{ dialogAnnounce.userownerlastname }}</v-btn>
                                                        </router-link>
                                                        <br><br>
                                                        <v-text-field variant="solo" readonly>Contact du propriétaire: {{ dialogAnnounce.userowneremail }}</v-text-field>
                                                        <v-btn variant="outlined" color="secondary">Garder par : {{ dialogAnnounce.userkeeperfirstname }} {{ dialogAnnounce.userkeeperlastname }}</v-btn>
                                                        <br> <br>
                                                        <v-text-field variant="solo" readonly>Contact du gardien : {{ dialogAnnounce.userkeeperemail }}</v-text-field> 
                                                    </div>
                                                </v-col>
                                                <v-col cols="6" class="pl-16 pt-16 d-none d-sm-flex">
                                                        <v-img class="mx-auto img" width="30vw" height="28vh" :src="`${dialogAnnounce.plantprofilpicture}`"></v-img>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </div>
                                </v-card>
                            </v-dialog>
                        </v-card>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </div>
    <CookieBanner v-if="showBanner" @hideBanner="showBanner = false"/>
</template>

<script>
import CookieBanner from "./CookieBanner.vue";
import { mapState } from "vuex";
export default {
    components:{
        CookieBanner
    },
    data(){
        return {
            dialog: false,
            dialogAnnounce: {},
            showBanner: !(this.$posthog.has_opted_in_capturing() || this.$posthog.has_opted_out_capturing()),
        }
    },
    mounted() {
        this.fetchAllAnnounces()
    },
    methods: {
        fetchAllAnnounces(){
            this.$store.dispatch('fetchAllAnnounces')
        },
        openDialog(id){
            this.dialog = true
            this.dialogAnnounce = this.allAnnounces.find((el) => el.announcementId === id)
        },
        keepThePlant(idAnnounce){
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            const requestOptions = {
                method: 'POST',
                body: JSON.stringify({idAnnounce, idConnectedUser: this.connectedUser.id}),
                headers: myHeaders,
                mode: 'cors',
                redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/announcements/keepPlant`, requestOptions)
                .then((response) => response.json())
                .then((result, err) => {
                    if (result.error) {
                        console.error(err);
                        this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                    }
                    this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                    this.dialog = false
                    this.fetchAllAnnounces()
                });
        },
        privacyPolicyRedirection(){
            this.$router.push('/privacyPolicy')
        }
    },
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
            allAnnounces: (state) => state.allAnnounces,
        }),
        windowWidth(){
            return window.innerWidth
        }
    },
}
</script>

<style scoped>
html,
body {
    background-color: whitesmoke;
}

.account {
    font-size: 4vw;
    padding: 4vw;
}

span {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.3rem;
}

.closeBtn {
    cursor: pointer;
    transition: 0.3s ease-out;
    font-size: 100%;
    padding: 0.5rem;
}.closeBtn:hover {
    background-color: #ffffff52;
    border-radius: 0.4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}
.img {
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

</style>