<template>
    <div class="banner">
        <div class="banner-content">
            <p class="text-banner">
                Ce site utilise des cookies pour fournir nos services. En utilisant notre site, vous reconnaissez avoir lu et compris notre
            </p>
            <router-link class="a link" to="/privacyPolicy">
                <v-list-item>politique de confidentialité.</v-list-item>
            </router-link>
        </div>
        <div class="buttons">
            <v-btn color="teal-accent-4" @click="acceptCookies"> Accept </v-btn>
        <v-btn color="white" @click="declineCookies"> Decline </v-btn>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CookieBanner',
        methods: {
            acceptCookies(){
                this.$posthog.opt_in_capturing();
                this.$emit('hideBanner')
            },
            declineCookies(){
                this.$posthog.opt_out_capturing();
                this.$emit('hideBanner')
            }
        }
    }
</script>

<style>
    .banner {
        display: flex;
        flex-direction: column;
        background-color: #E0F2F1;
        color: rgb(12, 12, 12);
        padding: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 90;
    }
    .banner-content{
        display: flex;
        flex-direction: row;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .link {
        color: #00BFA5;
    }
    .text-banner {
        margin-top: 8px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        gap: 30px;
    }
</style>