<template>
    <div class="inscription-page">
       <h1 class="mt-15 mb-4 mx-auto">Inscription</h1>
       <v-card class="pa-8 mx-auto" width="auto" max-width="600"> 
           <v-form @submit.prevent method="post">
               <v-text-field class="mb-4" label="Nom" v-model="firstname" type="text" :rules="firstNameRules" required />
               <v-text-field class="mb-4" label="Prenom" v-model="lastname" type="text" :rules="lastNameRules" required />
               <v-text-field class="mb-4" label="Email" v-model="email" type="text" :rules="emailRules" required />
               <v-text-field class="mb-4" label="Mot de passe" v-model="password" type="password" :rules="passwordRules" required />
               <v-text-field class="mb-4" label="Confirmer le mot de passe" v-model="confirmPassword" type="password" required />
               <p class="errorMessage">{{ errorMessage }}</p>
               <router-link class="a" to="/login">
                   <v-list-item class="link">Vous avez déjà un compte ? Connectez-vous</v-list-item>
                </router-link>
                <v-btn block class="mt-2 bg-teal-accent-4" @click="inscription" type="submit">S'inscrire</v-btn>
            </v-form>
        </v-card>
   </div>
</template>
<script>
import { mapState } from "vuex";
export default {
   data(){
       return {
            firstname: "",
            firstNameRules: [
                value => {
                    if (value) return true
                    return 'Vous devez renseigner un nom.'
                },
                value => {
                    if (value?.length >= 3) return true
                    return 'Le nom doit contenir au minimum 3 caractères.'
                },
            ],
           lastname: "",
           lastNameRules: [
           value => {
                    if (value) return true
                    return 'Vous devez renseigner un prénom.'
                },
                value => {
                    if (value?.length >= 3) return true
                    return 'Le prénom doit contenir au minimum 3 caractères.'
                },
            ],
           email: "",
           emailRules: [
            value => {
                if (value) return true
                return 'Vous devez renseigner un email.'
            },
            value => {
                if (/.+@.+\..+/.test(value)) return true
                return "L'e-mail doit-être valide."
            }, 
            ],
           password: "",
           passwordRules: [
            value => {
                const isWhitespace = /^(?=.*\s)/;
                if (isWhitespace.test(value)) {
                return "Le mot de passe ne doit pas contenir d'espace.";
                }
            
                const isContainsUppercase = /^(?=.*[A-Z])/;
                if (!isContainsUppercase.test(value)) {
                return "Le mot de passe doit contenir une lettre majuscule.";
                }
            
                const isContainsLowercase = /^(?=.*[a-z])/;
                if (!isContainsLowercase.test(value)) {
                return "Le mot de passe doit contenir une lettre minuscule.";
                }
            
                const isContainsNumber = /^(?=.*[0-9])/;
                if (!isContainsNumber.test(value)) {
                return "Le mot de passe doit contenir un chiffre minimum.";
                }
            
                const isContainsSymbol =
                /^(?=.*[~`!@#$%^&*()--+={}\[\]|\\:;"'<>,.?/_₹])/;
                if (!isContainsSymbol.test(value)) {
                return "Le mot de passe doit contenir 1 symbol minimum.";
                }
            
                const isValidLength = /^.{8,15}$/;
                if (!isValidLength.test(value)) {
                return "Le mot de passe doit contenir 8 caractères minimum";
                }
                return true
            }
           ],
           confirmPassword: "",
           errorMessage: "",
       }
   },
   computed: {
   ...mapState({
       user: (state) => state.user,
   }),
   },
   methods: {
   inscription() {
        this.errorMessage = ""
        const myHeaders = new Headers()
        myHeaders.append("Content-Type", "application/json")
        const body = JSON.stringify({
           "firstname": this.firstname,
           "lastname": this.lastname,
           "email": this.email,
           "password": this.password,
       })
       const requestOptions = {
           method: 'POST',
           body: body,
           headers: myHeaders,
           mode: 'cors',
           redirect: 'follow'
       }
       fetch("http://localhost:3001/api/auth/create", requestOptions)
           .then((response) => response.json())
           .then((result) => {
                if (this.password !== this.confirmPassword) {
                    this.errorMessage = 'Les mots de passe ne correspondent pas.'
                    return false;
                }else {
                    this.$router.push("/login")
                }
           });
   },
   }
}
</script>
<style>
.inscription-page{
   background-color: white;
   width: 100vw;
   height: 100vh;
   display: flex;
   margin: auto;
   flex-direction: column;
}

.errorMessage {
    color: red;
    align-items: center;
    margin: auto;
}

.link {
   width: fit-content;
   margin: 0 auto;
}
</style>