<template>
    <div class="container">
        <v-row :class="windowWidth > 600 ? 'ml-16 mt-6':'ma-16'">
            <div style="display: flex; flex-direction: column;">
                <router-link v-for="user in users" class="a my-2" :to="`/profil/${user.id}`">
                    <v-btn variant="outlined" color="secondary">Utilisateur : {{ user.firstname }} {{ user.lastname }}</v-btn>
                </router-link>
            </div>
        </v-row>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    data(){
        return {
            users: [],
        }
    },
    created() {
        this.fetchAllAnnounces()
    },
    methods: {
        fetchAllAnnounces(){
            const requestOptions = {
            method: 'GET',
            mode: 'cors',
            redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/users/`, requestOptions)
                .then((response) => response.json())
                .then((result, err) => {
                    if (result.error) {
                        console.error(err);
                    }
                    this.users = result
                });
        },
        
    },
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
        }),
        windowWidth(){
            return window.innerWidth
        }
    },
}
</script>

<style scoped>
span {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.3rem;
}
</style>