<template>
  <div class="login-page">
      <h1 class="mt-15 mb-10 mx-auto">Connexion</h1>

      <v-card class="pa-8 mx-auto" width="auto" max-width="600">
        <v-form @submit.prevent method="post">
            <v-text-field label="Email" class="mb-4" v-model="email" type="text" :rules="emailRules" required />
            <v-text-field label="Mot de passe" class="mb-4" v-model="password" type="password" :rules="passwordRules" required />
            <router-link class="a" to="/inscription">
                <v-list-item class="link">Pas de compte ? Créer un compte</v-list-item>
            </router-link>
            <v-btn block class="mt-2 bg-teal-accent-4" @click="connection" type="submit">Se connecter</v-btn>
        </v-form>
      </v-card>
  </div>
</template>
<script>
export default {
  data(){
      return {
          email: "",
          emailRules: [
            value => {
              if (value) return true
              return 'Vous devez renseigner un e-mail.'
            },
            value => {
            if (/.+@.+\..+/.test(value)) return true
            return "L'e-mail doit-être valide."
            },
          ],
          password: "",
          passwordRules: [
            value => {
              if (value) return true
              return 'Vous devez renseigné un mot de passe.'
            },
          ],
      }
  },
  methods: {
      connection() {
          const myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/json");
          const body = JSON.stringify({
              "email": this.email,
              "password": this.password,
          })
          const requestOptions = {
              method: 'POST',
              body: body,
              headers: myHeaders,
              mode: 'cors',
              redirect: 'follow'
          }
          fetch("http://localhost:3001/api/auth/login", requestOptions)
              .then((response) => response.json())
              .then((result) => {
                  if (result.message) {
                      this.errorMessage = result.message
                  } 
                  else {
                    console.log(result.user)
                      this.$cookie.setCookie('user', {id: result.user.id, firstname: result.user.firstname, lastname: result.user.lastname, email: result.user.email, isBotanist: result.user.isbotanist}, {expire: '1d'})
                      this.$store.dispatch('setConnectedUser',this.$cookie.getCookie('user'))
                      this.$router.push('/annonces')
                  }
              });
      },
  }
}
</script>
<style>
.login-page{
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.link {
  width: fit-content;
  margin: 0 auto;
}
</style>