<template>
    <div class="container">
        <v-row :class="windowWidth > 600 ? 'ml-8':''">
            <v-col cols="12">
                <v-card elevation="5" class="ma-8" max-height="93vh" style="overflow-y: scroll;">
                    <v-row>
                        <v-img class="align-end text-black" height="110" src="https://images.unsplash.com/photo-1493815793585-d94ccbc86df8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" cover>
                            <v-card-title class="ml-8 mt-8 text-h4">Mes Annonces</v-card-title>
                        </v-img>
                    </v-row>
                    <v-row>
                        <v-btn color="primary" elevation="2" variant="flat" @click="createDialog = true;" class="mt-10 mb-6 ml-8">Créer une annonce</v-btn>
                    </v-row>
                    <v-row>
                        <v-card v-for="announce in myAnnounces" class="my-8 mx-12" width="400" elevation="5" @click="openDialog(announce.announcementId)">
                            <v-img class="align-end text-black" height="200" :src="`${announce.plantprofilpicture}`"
                                cover>
                                <v-card-title><span>{{ announce.announcementtitle }}</span></v-card-title>
                            </v-img>
                            <v-card-subtitle class="mt-2">{{ announce.announcementdescription }}</v-card-subtitle>
                            <v-card-text>
                                <p>A {{ announce.plantplace }}</p>
                                <p>Du {{ announce.announcementstartdate }}</p>
                                <p> au {{ announce.announcementenddate }}</p>
                                <p>Par {{ announce.userownerfirstname }} {{ announce.userownerlastname }}</p>
                            </v-card-text>
                        </v-card>
                        <v-dialog v-model="dialog" transition="dialog-bottom-transition" width="auto">
                            <v-card>
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title class="d-none d-sm-flex">Détail de l'annonce</v-toolbar-title>
                                    <v-spacer/>
                                    <v-btn color="secondary" elevation="2" variant="flat" class="mr-8" @click="deleteAnnounce(dialogAnnounce.announcementId)">Supprimer l'annonce</v-btn>
                                    <h3 @click="dialog = false" class="closeBtn mr-8">Fermer</h3>
                                </v-toolbar>
                                <div class="wrapper">
                                    <v-card-title class="mb-4">
                                        <v-toolbar-title>{{ dialogAnnounce.announcementtitle }}</v-toolbar-title>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-row>
                                            <v-col class="d-flex d-sm-none"> <!-- mobile -->
                                                <v-img class="mx-auto img" width="30vw" :src="`${dialogAnnounce.plantprofilpicture}`"></v-img>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <h4 class="my-4">Annonce</h4>
                                                <v-text-field variant="solo" readonly>{{ dialogAnnounce.announcementdescription }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Date de début : {{ dialogAnnounce.announcementstartdate }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Date de fin : {{ dialogAnnounce.announcementenddate }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Adresse : {{ dialogAnnounce.plantplace }}</v-text-field >
                                                    
                                                <h4 class="my-4">A propos de la plante</h4>
                                                <v-text-field variant="solo" readonly>{{ dialogAnnounce.plantlibelle }}</v-text-field>
                                                <v-text-field variant="solo" readonly>{{ dialogAnnounce.plantdescription }}</v-text-field>
                                                
                                                <h4 class="my-4">Relationnel</h4>
                                                <v-text-field variant="solo" readonly>Postée par : {{ dialogAnnounce.userownerfirstname }} {{ dialogAnnounce.userownerlastname }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Contact :{{ dialogAnnounce.userowneremail }}</v-text-field>
                                                <router-link v-if="dialogAnnounce.userkeeperfirstname" class="a" :to="`/profil/${dialogAnnounce.userKeeperId}`">
                                                    <v-btn variant="outlined" color="secondary">Gardien : {{ dialogAnnounce.userkeeperfirstname }} {{ dialogAnnounce.userkeeperlastname }}</v-btn>
                                                </router-link>
                                                <v-text-field v-else variant="solo" readonly>Gardien : {{ dialogAnnounce.userkeeperfirstname }} {{ dialogAnnounce.userkeeperlastname }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Contact{{ dialogAnnounce.userkeeperemail }}</v-text-field> 
                                            </v-col>
                                            <v-col cols="6" class="pl-16 pt-16 d-none d-sm-flex">
                                                    <v-img class="mx-auto img" width="30vw" height="28vh" :src="`${dialogAnnounce.plantprofilpicture}`"></v-img>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </div>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="createDialog" transition="dialog-bottom-transition" width="800">
                            <v-card>
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>Créer une annonce</v-toolbar-title>
                                    <v-spacer/>
                                    <h3 @click="createDialog = false" class="closeBtn mr-8">Fermer</h3>
                                </v-toolbar>
                                <div class="wrapper">
                                    <v-card-text>
                                        <p>Plante : </p>
                                        <v-select v-model="newAnnounce.idplant" :items="userPlants" variant="solo" item-title="libelle" item-value="id"></v-select>
                                        <v-text-field v-model="newAnnounce.title" variant="solo">Titre : </v-text-field>
                                        <v-text-field v-model="newAnnounce.description" variant="solo">Description : </v-text-field>
                                        <v-text-field v-model="newAnnounce.startDate" variant="solo" type="date">startDate : </v-text-field >
                                        <v-text-field v-model="newAnnounce.endDate" variant="solo" type="date">endDate : </v-text-field >
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn v-if="newAnnounce.title !== '' && newAnnounce.description !== '' && newAnnounce.startDate !== '' && newAnnounce.endDate !== ''" color="primary" elevation="2" variant="flat" @click="createAnnounce()" class="mx-auto">Ajouter</v-btn>
                                        <v-btn v-else color="primary" elevation="2" variant="flat" disabled class="mx-auto">Ajouter</v-btn>
                                    </v-card-actions>
                                </div>
                            </v-card>
                        </v-dialog>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    data(){
        return {
            dialog: false,
            dialogAnnounce: {},
            createDialog: false,
            newAnnounce: {
                idOwner: '',
                idplant: 1,
                title: '',
                description: '',
                startDate: '',
                endDate: '',
            }
        }
    },
    created() {
        this.fetchMyAnnounces()
    },
    methods: {
        fetchMyAnnounces(){
            const requestOptions = {
                method: 'GET',
                mode: 'cors',
                redirect: 'follow',
            }
            this.$store.dispatch('fetchUserPlants', this.connectedUser.id)
            this.$store.dispatch('fetchMyAnnounces', this.connectedUser.id)
        },
        openDialog(id){
            this.dialog = true
            this.dialogAnnounce = this.myAnnounces.find((el) => el.announcementId === id)
        },
        createAnnounce(){
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            const idOwner = this.connectedUser.id
            const createdAnnounce = { ...this.newAnnounce, idOwner }
            const requestOptions = {
                method: 'POST',
                body: JSON.stringify(createdAnnounce),
                headers: myHeaders,
                mode: 'cors',
                redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/announcements/create`, requestOptions)
            .then((response) => response.json())
            .then((result, err) => {
                if (result.error) {
                    console.error(err);
                    this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                }
                this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                this.createDialog = false
                this.fetchMyAnnounces()
            });
        },
        deleteAnnounce(idAnnounce){
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            const requestOptions = {
                method: 'POST',
                body: JSON.stringify({idAnnounce, idConnectedUser: this.connectedUser.id}),
                headers: myHeaders,
                mode: 'cors',
                redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/announcements/delete`, requestOptions)
            .then((response) => response.json())
            .then((result, err) => {
                if (result.error) {
                    console.error(err);
                    this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                }
                this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                this.dialog = false
                this.fetchMyAnnounces()
            });
        }
    },
    computed: {
        ...mapState({
            userPlants: (state) => state.userPlants,
            connectedUser: (state) => state.connectedUser,
            myAnnounces: (state) => state.myAnnounces,
        }),
        windowWidth(){
            return window.innerWidth
        }
    },
}
</script>

<style scoped>
html,
body {
    background-color: whitesmoke;
}

.account {
    font-size: 4vw;
    padding: 4vw;
}

span {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.3rem;
}

.closeBtn {
    cursor: pointer;
    transition: 0.3s ease-out;
    font-size: 100%;
    padding: 0.5rem;
}.closeBtn:hover {
    background-color: #ffffff52;
    border-radius: 0.4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 0.2rem;
}
.img {
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.btn {
    width: fit-content;
    padding: 0.5rem 0.5rem;
    margin: 0 auto;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #42b883;
    transition: 0.3s ease-out;
}
.btn:hover {
    background-color: #89d6b3;
}
</style>