<template>
    <div class="container">
        <v-row :class="windowWidth > 600 ? 'ml-8':''">
            <v-col cols="12">
                <v-card elevation="5" class="ma-8" max-height="93vh" style="overflow-y: scroll;">
                    <v-row>
                        <v-img class="align-end text-black" height="110" src="https://images.unsplash.com/photo-1555231955-348aa2312e19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" cover>
                            <v-card-title class="ml-8 mt-8 mb-4 text-h4">Mes gardes de plantes</v-card-title>
                        </v-img>
                    </v-row>
                    <v-row>
                        <v-card v-for="announce in announcesThatIKeep" class="my-8 mx-12" width="400" elevation="5" @click="openDialog(announce.announcementId)">
                            <v-img class="align-end text-black" height="200" :src="`${announce.plantprofilpicture}`"
                                cover>
                                <v-card-title><span>{{ announce.announcementtitle }}</span></v-card-title>
                            </v-img>
                            <v-card-subtitle class="mt-2">{{ announce.announcementdescription }}</v-card-subtitle>
                            <v-card-text>
                                <p>A {{ announce.plantplace }}</p>
                                <p>Du {{ announce.announcementstartdate }}</p>
                                <p> au {{ announce.announcementenddate }}</p>
                                <p>Par {{ announce.userownerfirstname }} {{ announce.userownerlastname }}</p>
                            </v-card-text>
                        </v-card>
                        <v-dialog v-model="dialog" transition="dialog-bottom-transition" width="auto">
                            <v-card>
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>Détail de l'annonce</v-toolbar-title>
                                    <v-spacer/>
                                    <v-btn class="d-flex d-sm-none" color="white" elevation="2" variant="flat" @click="cameraDialog = true;">Photo</v-btn>
                                    <v-btn class="d-none d-sm-flex" color="white" elevation="2" variant="flat" @click="cameraDialog = true;">Prendre une photo</v-btn>
                                    <v-btn color="secondary" elevation="2" variant="flat" class="mx-8 d-flex d-sm-none" @click="stopKeepingThePlant(dialogAnnounce.announcementId)">Arrêter</v-btn>
                                    <v-btn color="secondary" elevation="2" variant="flat" class="mx-8 d-none d-sm-flex" @click="stopKeepingThePlant(dialogAnnounce.announcementId)">Arrêter de garder cette plante</v-btn>
                                    <h3 @click="dialog = false" class="closeBtn mr-8">Fermer</h3>
                                </v-toolbar>
                                <div class="wrapper">
                                    <v-card-title class="mb-4">
                                        <v-toolbar-title>{{ dialogAnnounce.announcementtitle }}</v-toolbar-title>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-row>
                                            <v-col cols="12" class="d-flex d-sm-none" style="display: flex; flex-direction: column;"> <!-- mobile -->
                                                <v-img class="mx-auto img" width="80vw" :src="`${dialogAnnounce.plantprofilpicture}`"></v-img>
                                                <hr class="my-4">
                                                <div v-for="plantImage in plantImages">
                                                    <v-card-text>
                                                        <p>Date : {{ plantImage.date }}</p>
                                                    </v-card-text>
                                                    <v-img class="mx-auto img" width="80vw" :src="`${plantImage.image}`"></v-img>
                                                </div>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <h4 class="my-4">Annonce</h4>
                                                <v-text-field variant="solo" readonly>{{ dialogAnnounce.announcementdescription }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Date de début : {{ dialogAnnounce.announcementstartdate }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Date de fin : {{ dialogAnnounce.announcementenddate }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Adresse : {{ dialogAnnounce.plantplace }}</v-text-field >
                                                    
                                                <h4 class="my-4">A propos de la plante</h4>
                                                <v-text-field variant="solo" readonly>{{ dialogAnnounce.plantlibelle }}</v-text-field>
                                                <v-text-field variant="solo" readonly>{{ dialogAnnounce.plantdescription }}</v-text-field>
                                                
                                                <h4 class="my-4">Relationnel</h4>
                                                <router-link v-if="dialogAnnounce.userkeeperfirstname" class="a" :to="`/profil/${dialogAnnounce.userownerid}`">
                                                    <v-btn variant="outlined" color="secondary">Postée par : {{ dialogAnnounce.userownerfirstname }} {{ dialogAnnounce.userownerlastname }}</v-btn>
                                                </router-link>
                                                <v-text-field v-else variant="solo" readonly>Postée par : {{ dialogAnnounce.userownerfirstname }} {{ dialogAnnounce.userownerlastname }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Contact :{{ dialogAnnounce.userowneremail }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Gardien : {{ dialogAnnounce.userkeeperfirstname }} {{ dialogAnnounce.userkeeperlastname }}</v-text-field>
                                                <v-text-field variant="solo" readonly>Contact{{ dialogAnnounce.userkeeperemail }}</v-text-field> 
                                            </v-col>
                                            <v-col cols="6" class="pl-16 pt-16 d-none d-sm-flex" style="display: flex; flex-direction: column;">
                                                    <v-img class="mx-auto img" width="30vw" :src="`${dialogAnnounce.plantprofilpicture}`"></v-img>
                                                    <hr class="my-4">
                                                    <div v-for="plantImage in plantImages">
                                                        <v-card-text>
                                                            <p>Date : {{ plantImage.date }}</p>
                                                        </v-card-text>
                                                        <v-img class="mx-auto img" width="30vw" :src="`${plantImage.image}`"></v-img>
                                                    </div>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </div>
                            </v-card>
                            <v-dialog v-model="cameraDialog" transition="dialog-bottom-transition" width="auto">
                            <v-card>
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>Prendre une photo</v-toolbar-title>
                                    <v-spacer/>
                                    <h3 @click="cameraDialog = false" class="closeBtn mr-8">Fermer</h3>
                                </v-toolbar>
                                <div class="wrapper">
                                    <v-card-title class="mb-4">
                                        <v-toolbar-title></v-toolbar-title>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-row>
                                            <v-col cols="6">
                                                <AddFile :announce="dialogAnnounce" />
                                            </v-col>
                                            <v-col cols="6" class="pl-16 pt-16">
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </div>
                            </v-card>
                        </v-dialog>
                        </v-dialog>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import AddFile from './AddFile.vue'
import { mapState } from "vuex";
export default {
    components: {AddFile},
    data(){
        return {
            dialog: false,
            cameraDialog: false,
            dialogAnnounce: {},
        }
    },
    created() {
        this.fetchAnnoucesThatIKeep()
    },
    methods: {
        fetchAnnoucesThatIKeep(){
            this.$store.dispatch('fetchAnnouncesThatIKeep', this.connectedUser.id)
        },
        fetchPlantImages(idplant, announcementId){
            this.$store.dispatch('fetchPlantImages', {idplant, announcementId})
        },
        openDialog(id){
            this.dialog = true
            const test = this.announcesThatIKeep.find((el) => el.announcementId === id)
            this.dialogAnnounce = test
            this.fetchPlantImages(test.plantId, test.announcementId)
        },
        stopKeepingThePlant(idAnnounce){
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            const requestOptions = {
                method: 'POST',
                body: JSON.stringify({idAnnounce, idKeeper: this.connectedUser.id}),
                headers: myHeaders,
                mode: 'cors',
                redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/announcements/stopKeepPlant`, requestOptions)
            .then((response) => response.json())
            .then((result, err) => {
                if (result.error) {
                    console.error(err);
                    this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                }
                this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                this.dialog = false
                this.fetchAnnoucesThatIKeep()
            });
        }
    },
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
            announcesThatIKeep: (state) => state.announcesThatIKeep,
            plantImages: (state) => state.plantImages
        }),
        windowWidth(){
            return window.innerWidth
        }
    },
}
</script>

<style scoped>
html,
body {
    background-color: whitesmoke;
}

.account {
    font-size: 4vw;
    padding: 4vw;
}

span {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.3rem;
}

.closeBtn {
    cursor: pointer;
    transition: 0.3s ease-out;
    font-size: 100%;
    padding: 0.5rem;
}.closeBtn:hover {
    background-color: #ffffff52;
    border-radius: 0.4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 0.2rem;
}
.img {
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.btn {
    width: fit-content;
    padding: 0.5rem 0.5rem;
    margin: 0 auto;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #42b883;
    transition: 0.3s ease-out;
}
.btn:hover {
    background-color: #89d6b3;
}
</style>