<template>
    <div class="container">
        <v-row :class="windowWidth > 600 ? 'ml-8':''">
            <v-col cols="12">
                <v-card elevation="5" class="ma-8" height="90vh" max-height="93vh" style="overflow-y:scroll;">
                    <v-row>
                        <v-img class="align-end text-black" height="110" src="https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" cover>
                            <v-card-title class="ml-8 mt-8 mb-3 text-h4">Politique de confidentialité sur l'utilisation des cookies</v-card-title>
                        </v-img>
                    </v-row>
                    <v-card-text class="">
                        <h3>Utilisation de cookies</h3>
                        <p>
                        Notre site web utilise des cookies pour améliorer votre expérience utilisateur et pour collecter des données sur votre utilisation de notre site. En utilisant notre site, vous acceptez l'utilisation de ces cookies conformément à cette politique de confidentialité.
                        </p>
                        <h3>Cookies de session</h3>
                        <p>
                        Nous utilisons des cookies de session pour stocker des informations telles que votre <strong>Nom</strong>, votre <strong>adresse e-mail</strong> et d'autres informations de profil afin de faciliter la connexion et la navigation sur notre site. Ces cookies sont 
                        temporaires et seront automatiquement supprimés de votre ordinateur ou appareil mobile lorsque vous fermez votre navigateur ou que vous vous déconnectez de notre site.
                        </p>
                        <h3>Comment désactiver les cookies</h3>
                        <p>
                        Si vous ne souhaitez pas que des cookies soient utilisés sur notre site web, vous pouvez modifier les paramètres de votre navigateur pour désactiver les cookies. Cependant, veuillez noter que cela peut affecter votre expérience utilisateur sur notre site.
                        </p>
                        <h3>Comment utiliser vos informations</h3>
                        <p>
                        Les informations collectées par nos cookies sont utilisées pour améliorer l'expérience utilisateur sur notre site web et pour personnaliser les publicités et les offres qui vous sont présentées sur notre site ou sur d'autres sites web que vous visitez. 
                        Nous ne partageons pas les informations collectées par nos cookies avec des tiers, sauf si cela est nécessaire pour fournir les services que vous avez demandés sur notre site ou si nous y sommes légalement tenus.
                        </p>
                        <h3>Sécurité de vos informations</h3>
                        <p>
                        Nous prenons des mesures de sécurité appropriées pour protéger vos informations contre les accès, utilisations ou divulgations non autorisées. Nous utilisons des technologies de cryptage pour protéger les informations sensibles,
                        telles que les informations de paiement, lorsqu'elles sont transmises sur Internet.
                        </p>
                        <h3>Modification de notre politique de confidentialité</h3>
                        <p>
                        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications entreront en vigueur dès leur publication sur notre site web.
                        </p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
            allAnnounces: (state) => state.allAnnounces,
        }),
        windowWidth(){
            return window.innerWidth
        }
    },
}
</script>

<style scoped>
html,
body {
    background-color: whitesmoke;
}

span {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.3rem;
}

h3 {
    padding-top: 1.5rem;
}

</style>