<template>
    <div class="container">
        <v-row :class="windowWidth > 600 ? 'ml-8':''">
            <v-col cols="12">
                <v-card elevation="5" class="ma-8" height="2000" max-height="93vh" style="overflow-y: scroll;">
                    <v-row>
                        <v-img class="align-end text-black" height="100" src="https://images.unsplash.com/photo-1555803741-1ac759ac2f53?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" cover>
                            <v-card-title class="ml-8 mt-8 text-h4">Profil</v-card-title>
                        </v-img>
                    </v-row>
                    <v-row>
                        <v-card elevation="2" class="ma-8">
                            <v-card-title>
                                Informations
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-text-field class="ma-4" variant="solo" readonly>Nom : {{ connectedUser.firstname }}</v-text-field>
                                    <v-text-field class="ma-4" variant="solo" readonly>Prénom : {{ connectedUser.lastname }}</v-text-field>
                                    <v-text-field class="ma-4" variant="solo" readonly>Email : {{ connectedUser.email }}</v-text-field>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-row>
                    <v-row>
                        <v-card elevation="2" class="ma-8" width="1700">
                            <v-row class="ma-2">
                                <v-card-title>Plantes</v-card-title>
                            </v-row>
                            <v-row>
                                <v-btn v-if="connectedUser.id === userPage.id" color="primary" elevation="2" variant="flat" class="ml-8 mb-6" @click="dialogAddPlant = true" :disabled="connectedUser != undefined && connectedUser.isBotanist">Ajouter</v-btn>
                            </v-row>
                            <v-row>
                                <v-dialog v-model="dialogAddPlant" transition="dialog-bottom-transition" width="auto">
                                    <AddPlant />
                                </v-dialog>
                                <v-card v-for="plant in userPlants" elevation="1" class="ma-8" width="400" @click="openDialog(plant.id)">
                                    <v-img class="align-end text-black" height="200" :src="`${plant.profilpicture}`" cover>
                                        <v-card-title><span>{{ plant.libelle }}</span></v-card-title>
                                    </v-img>
                                    <v-card-subtitle class="mt-2">{{ plant.description }}</v-card-subtitle>
                                    <v-card-text>
                                        <p>A {{ plant.place }}</p>
                                        <p> type :  {{ plant.idplanttype }}</p>
                                    </v-card-text>
                                    <v-dialog v-model="dialog" transition="dialog-bottom-transition" width="auto">
                                        <v-card width="80vw">
                                            <v-toolbar dark color="primary">
                                                <v-toolbar-title>Détails de la plante</v-toolbar-title>
                                                <v-spacer/>
                                                <v-btn color="white" elevation="2" width="6vw" variant="flat" class="mr-8" @click="dialog = false">Fermer</v-btn>
                                            </v-toolbar>
                                            <div class="wrapper">
                                                <v-card-text>
                                                    <v-row>
                                                        <v-col cols="12" sm="3">
                                                            <h4 class="my-4">A propos de la plante</h4>
                                                            <v-text-field variant="solo" readonly>{{ dialogPlant.libelle }}</v-text-field>
                                                            <v-text-field variant="solo" readonly>{{ dialogPlant.description }}</v-text-field>
                                                            <v-text-field variant="solo" readonly>Type : {{ typePlant(dialogPlant.idplanttype) }}</v-text-field>
                                                            <v-text-field variant="solo" readonly>A : {{ dialogPlant.place }}</v-text-field>
                                                            <v-text-field variant="solo" readonly>Propriétaire : {{ userPage.firstname }} {{ userPage.lastname }}</v-text-field>
                                                        </v-col>
                                                        <v-col cols="12" sm="5">
                                                            <h4 class="my-4">Dernières photos prises </h4>
                                                            <v-img class="mx-auto img d-none d-sm-flex" width="30vw" :src="`${dialogPlant.profilpicture}`"></v-img>
                                                            <v-img class="mx-auto img d-flex d-sm-none" width="80vw" :src="`${dialogPlant.profilpicture}`"></v-img>
                                                            <hr class="my-4">
                                                            <div v-for="plantImage in plantImages">
                                                                <v-card-text>
                                                                    <p>Date : {{ plantImage.date }}</p>
                                                                </v-card-text>
                                                                <v-img class="mx-auto img d-none d-sm-flex" width="30vw" :src="`${plantImage.image}`"></v-img>
                                                                <v-img class="mx-auto img d-flex d-sm-none" width="80vw" :src="`${plantImage.image}`"></v-img>
                                                            </div>
                                                        </v-col>
                                                        <v-col cols="12" sm="4">
                                                            <div style="display: flex; flex-direction: row;">
                                                                <h4 class="my-4">Commentaires</h4>
                                                                <v-btn v-if="connectedUser.isBotanist" color="primary" class="ml-8 my-auto" @click="dialogCommentaire = true;">+</v-btn>
                                                            </div>
                                                            <v-text-field variant="solo" readonly v-for="tip in tips" :key="tip.id" class="mt-3 mr-12">
                                                                <p style="width:100%; word-wrap: break-word !important;">{{ tip.comment }}</p>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-card-text>
                                            </div>
                                        </v-card>
                                        <v-dialog v-model="dialogCommentaire" transition="dialog-bottom-transition" width="auto">
                                            <v-card width="80vw">
                                                <v-toolbar dark color="primary">
                                                    <v-toolbar-title>Ajouter un commentaire</v-toolbar-title>
                                                    <v-spacer/>
                                                    <v-btn color="white" elevation="2" width="6vw" variant="flat" class="mr-8" @click="dialogCommentaire = false">Fermer</v-btn>
                                                </v-toolbar>
                                                <v-card-text>
                                                    <v-text-field v-model="commentaire" variant="solo"></v-text-field>
                                                </v-card-text>
                                                <v-card-actions>
                                                    <v-btn v-if="commentaire !== ''" color="primary" variant="flat" @click="comment(dialogPlant.id)">Commenter</v-btn>
                                                    <v-btn v-else color="primary" variant="flat" disabled>Commenter</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>
                                    </v-dialog>
                                </v-card>
                            </v-row>
                        </v-card>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import { mapState } from "vuex";
import AddPlant from "./AddPlant.vue";
export default {
    components: { AddPlant },
    data(){
        return {
            dialog: false,
            dialogCommentaire: false,
            dialogAddPlant: false,
            dialogPlant: {},
            typesPlant: [],
            userPage: {},
            tips: [],
            commentaire: '',
        }
    },
    created() {
        console.log(this.userPlants)
        this.fetchAllAnnounces()
    },
    methods: {
        fetchAllAnnounces(){
            const requestOptions = {
            method: 'GET',
            mode: 'cors',
            redirect: 'follow',
            }
            this.$store.dispatch('fetchUserPlants', this.$route.params.idUser)
            
            fetch(`http://localhost:3002/api/plants/type`, requestOptions)
                .then((response) => response.json())
                .then((result, err) => {
                    if (result.error) {
                        console.error(err);
                    }
                    this.typesPlant = result
                });
            fetch(`http://localhost:3002/api/users/${this.$route.params.idUser}`, requestOptions)
                .then((response) => response.json())
                .then((result, err) => {
                    if (result.error) {
                        console.error(err);
                    }
                    this.userPage = result[0]
                });
        },
        fetchPlantImages(idplant){
            this.$store.dispatch('fetchPlantImages', {idplant})
        },
        openDialog(id){
            this.dialog = true
            this.dialogPlant = this.userPlants.find((el) => el.id === id)
            this.fetchTips(this.dialogPlant.id)
            this.fetchPlantImages(this.dialogPlant.id)
        },
        typePlant(idPlantType) {
            return this.typesPlant.find(el => el.id === idPlantType).libelle
        },
        fetchTips(idplant){
            const requestOptions = {
                method: 'GET',
                mode: 'cors',
                redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/tips/?idOwner=${this.$route.params.idUser}&idplant=${idplant}`, requestOptions)
                .then((response) => response.json())
                .then((result, err) => {
                    if (result.error) {
                        console.error(err);
                    }
                    this.tips = result
                });
        },
        comment(idplant){
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: JSON.stringify({idplant, comment: this.commentaire}),
                mode: 'cors',
                redirect: 'follow',
            }
            fetch(`http://localhost:3002/api/tips/create`, requestOptions)
                .then((response) => response.json())
                .then((result, err) => {
                    if (result.error) {
                        console.error(err);
                        this.$store.dispatch('setSnackbar', {display: true, color: "red", message: result.error, timeout: 2000})
                    }
                    this.$store.dispatch('setSnackbar', {display: true, color: "green", message: result.message, timeout: 2000})
                    this.dialogCommentaire = false
                    this.commentaire = ''
                    this.fetchTips(idplant)
                });
        },
        getprofilpicture(data){
            const blob = data.blob()
            return URL.createObjectURL(blob)
        }
    },
    computed: {
        ...mapState({
            connectedUser: (state) => state.connectedUser,
            userPlants: (state) => state.userPlants,
            plantImages: (state) => state.plantImages,
        }),
        windowWidth(){
            return window.innerWidth
        }
    },
}
</script>

<style scoped>
span {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.3rem;
}
</style>