<template>
  <v-layout>
    <!-- Desktop -->
    <v-navigation-drawer class="d-none d-sm-flex" expand-on-hover rail absolute >
      <v-list>
        <router-link class="a" :to="`/profil/${connectedUser.id}`" v-if="connectedUser !== undefined">
          <v-list-item prepend-icon="mdi-account" :title="`${connectedUser.lastname} ${connectedUser.firstname}`" :subtitle="`${connectedUser.email}`"></v-list-item>
        </router-link>

        <router-link class="a" :to="`/login`" v-else>
          <v-list-item prepend-icon="mdi-account" title="Se connecter"></v-list-item>
        </router-link>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <router-link class="a" to="/annonces">
          <v-list-item prepend-icon="mdi-message-alert" title="Toutes les annonces" value="starred"></v-list-item>
        </router-link>
        <router-link class="a" to="/mesAnnonces" clickable="false" v-if="connectedUser !== undefined && !connectedUser.isBotanist">
          <v-list-item prepend-icon="mdi-sprout" title="Mes annonces" value="shared"></v-list-item>
        </router-link>
        <router-link class="a" to="/mesGardes" v-if="connectedUser !== undefined && !connectedUser.isBotanist">
          <v-list-item prepend-icon="mdi-pin" title="Mes gardes de plante" value="starred"></v-list-item>
        </router-link>
        <router-link v-if="connectedUser !== undefined && connectedUser.isBotanist" class="a" to="/listUsers">
          <v-list-item prepend-icon="mdi-magnify" title="Rechercher un utilisateur" value="starred"></v-list-item>
        </router-link>
        <v-list-item v-if="connectedUser !== undefined" class="a" prepend-icon="mdi-logout-variant" title="Se déconnecter" @click="disconnect" value="starred"></v-list-item>
        <v-divider></v-divider>
        <router-link class="a" to="/privacyPolicy">
          <v-list-item prepend-icon="mdi-information-outline" title="Charte de confidentialité" value="starred"></v-list-item>
        </router-link>
      </v-list>
    </v-navigation-drawer>

    <!-- Mobile -->
    <v-bottom-navigation class="d-flex d-md-none">
      <router-link class="a" :to="`/profil/${connectedUser.id}`" v-if="connectedUser !== undefined">
        <v-btn>
          <v-icon>mdi-account</v-icon>
          <p class="d-none d-sm-flex">Profil</p>
        </v-btn>
      </router-link>

      <router-link class="a" :to="`/login`" v-else>
        <v-btn>
          <v-icon>mdi-account</v-icon>
          <p class="d-none d-sm-flex">Se connecter</p>
        </v-btn>
      </router-link>

      <router-link class="a" to="/annonces">
        <v-btn>
          <v-icon>mdi-message-alert</v-icon>
          <p class="d-none d-sm-flex">Annonces</p>
        </v-btn>
      </router-link>

      <router-link class="a" to="/mesAnnonces" v-if="connectedUser !== undefined">
        <v-btn :disabled="connectedUser !== undefined && !connectedUser.isBotanist">
          <v-icon>mdi-sprout</v-icon>
          <p class="d-none d-sm-flex">Mes Annonces</p>
        </v-btn>
      </router-link>

      <router-link class="a" to="/mesGardes" v-if="connectedUser !== undefined">
        <v-btn>
          <v-icon>mdi-pin</v-icon>
          <p class="d-none d-sm-flex">Mes gardes</p>
        </v-btn>
      </router-link>

      <router-link v-if="connectedUser !== undefined && connectedUser.isBotanist" class="a" to="/listUsers">
        <v-btn>
          <v-icon>mdi-magnify</v-icon>
          <p class="d-none d-sm-flex">Recherche</p>
        </v-btn>
      </router-link>

      <v-btn v-if="connectedUser !== undefined" class="a mt-2">
        <v-icon>mdi-logout-variant</v-icon>
        <p class="d-none d-sm-flex">Se déconnecter</p>
      </v-btn>

      <router-link class="a" to="/privacyPolicy">
        <v-btn class="a">
          <v-icon>mdi-information-outline</v-icon>
          <p class="d-none d-sm-flex">Charte de confidentialité</p>
        </v-btn>
      </router-link>

    </v-bottom-navigation>
    <v-app>
      <default-view />
    </v-app>
    <v-snackbar v-model="snackbar.display" :timeout="snackbar.timeout">
      {{ snackbar.message }}
      <template v-slot:actions>
        <v-btn :color="snackbar.color" variant="text" @click="snackbar.display = false">Close</v-btn>
      </template>
    </v-snackbar>
  </v-layout>
</template>

<script setup>
  import DefaultView from './View.vue'
</script>

<script>
import { mapState } from 'vuex';
export default {
  mounted() {
    if (this.$cookie.isCookieAvailable('user') == true) {
      this.$store.dispatch('setConnectedUser', this.$cookie.getCookie('user'))
    }
    if(this.$router.currentRoute !== '/annonces'){
      this.$router.push('/annonces')
    }
  },
  methods:{
    disconnect(){
      this.$store.dispatch('setConnectedUser', undefined)
      this.$cookie.removeCookie('user')
      this.reloadPage()
    },
    reloadPage(){
    window.location.reload()
  }
  },
  computed: {
      ...mapState({
        connectedUser: (state) => state.connectedUser,
        snackbar: (state) => state.snackbar,
      }),
  },
}
</script>
<style>
.a{
  color: #292929;
  text-decoration:none;
}

</style>